@font-face {
    font-family: "Hey Gorgeous";
    src: url("./webfontkit-20231024-183222/heygorgeous-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Altima";
    src: url("./webfontkit-20231024-183222/altima-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("https://cdn.discordapp.com/attachments/562459983711567888/1166520075780632586/opac2.png?ex=654ac97a&is=6538547a&hm=84b3c9bfa7047c3e8c0a17e1f6ae0e556e3a4c13e44f30427c36159bbdd97523&");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px auto;
    gap: 15px;
    width: 100vw;
}

#top-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#top-buttons button {
    font-family: "Altima", serif;
    font-size: 2.125rem;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    height: 35%;
}

label {
    font-family: "Hey Gorgeous", serif;
    font-size: 1.25rem;
}

::placeholder {
    font-family: "Altima", serif;
    text-align: center;
    font-size: 1.5rem;
}

#praiseForm {
    text-align: center;
}

#allstars-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 80%
}



#allstars-form, #delete-allstars-form {
    text-align: center;
    align-items: center;
    justify-content: center;
}


#allstars-form input {
    margin: 10px;
    width: 100%;
}

#allstars-form select {
    margin: 10px;
    width: 20%;
    text-align: center;
}

#delete-allstars-form input {
    margin: 10px;
    width: 100%;
}

#allstars-form button, #delete-allstars-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
}

#allstars {
    border: #00000a solid 1px;
    border-radius: 13%;
    text-align: center;
    margin: 10px auto;
    padding: 5px;
    background-image: url("https://media.discordapp.net/attachments/562459983711567888/1166502005020295168/opac.png?ex=654ab8a6&is=653843a6&hm=b851893127cc886993842b32111f012339f349d236d5cf08f2a8ed554fc24d93&=&width=887&height=887");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 55%;
}

#allstars h2 {
    font-family: "Altima", serif;
    font-size: 6rem;
    margin: 5px auto;
    padding: 15px;
    -webkit-text-stroke: 1px black;
    color: #ffffff;
}

#submit-praise-button {
    font-family: "Altima", serif;
    font-size: 2.125rem;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    width: 50%;
}

#submit-allstar-button {
    font-family: "Altima", serif;
    font-size: 2.125rem;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    width: 50%;
}

#delete-allstars-button {
    font-family: "Altima", serif;
    font-size: 2.125rem;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    width: 50%;
}

#allstars-list {
    font-family: "Hey Gorgeous", serif;
    font-size: 1.625rem;
    -webkit-text-stroke: 1.5px white;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    width: 65%;
}